<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Author List</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>	
</head>
<body>
	<div class="container">

		<h1>All Chores:</h1>

		<ul>

		<% @authors.each do |author| %>

			<li><%= author[:name] %>: <%= author[:age] %></li>	

			<% @todos.each do |todo| %>
				<ul>

				<% if todo[:author_id] == author[:id] %>
					<li><%= todo[:description] %></li>
				<% end %>

				</ul>
			<% end %>

			<%= form_for :todo, url: "/todos", method: "post" do |f| %>

				<li>Assign a New Todo for <%= author[:name] %>:</li>
			    <%= f.text_area :description %>

			    <!-- Cannot get the following line to work ... -->
			    <%= f.hidden_field :author_id %>
			    <%= f.submit "Add Chore" %>

			<% end %>

		<% end %>
		</ul>

		<h1>Add a New Author:</h1>

		<%= form_for :author do |f| %>

		<p>
			<%= f.label :name %><br>
		    <%= f.text_field :name %>
		</p>

		<p>
			<%= f.label :age %><br>
		    <%= f.text_field :age %>
		</p>

		<p>
		    <%= f.submit %>
		</p>

		<% end %>

	</div>
</body>
</html>