<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Todo List</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">

		<h1>Todo:</h1>

		<ul>

		<% @todos.each do |todo| %>

			<li><%= todo[:description] %></li>	

		<% end %>
		</ul>

		<%= form_for :todo do |f| %>

		<p>
			<%= f.label :description %><br>
		    <%= f.text_field :description %>
		</p>

		<p>
		    <%= f.submit %>
		</p>

		<% end %>

	</div>
</body>
</html>