<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Todo List</title>
</head>
<body>
	<h1>Todo:</h1>

	<ul>

	<% @todos.each do |todo| %>

		<li><%= todo[:description] %></li>	

	<% end %>
	</ul>

	<%= form_for :todo do |f| %>

	<p>
		<%= f.label :description %><br>
	    <%= f.text_field :description %>
	</p>

	<p>
	    <%= f.submit %>
	</p>

	<% end %>

</body>
</html>